* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration-line: underline;
}

/* content №1 */

.wrapper-preview {
    background-image: url(../img/bgc.png);
    max-width: auto;
    height: 800px;
    background-size: cover;
    margin: auto;
    
}
header {
    display: flex;
    justify-content: start ; 
    border-bottom: 1px solid #FFFFFF;
    height: 90px;
}
.header-logo {
    margin-top: 33px;
    margin-left: 180px;
}
.header-content-ul {
    display: flex;
    margin-top: 35px;
    margin-left: 312px;
    
}
.header-content-li {
    margin-left: 47px;
    list-style: none;
}
.a-header{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
}
.a-header:hover{
    color: #FFC41E;
}
.header-side{
    margin-left: 200px;
    margin-top: 31px;
}
.header-side-ul{
    display: flex;
}
.header-side-li {
    list-style: none;
    margin-left: 70px;
}
.header-side-li .icon{
    width: 20px;
    height: 17px;
}

.preview-content {
    display: flex;
    justify-content: start;
}
.preview-content-title {
    margin-top: 184px;
    margin-left: 405px;
    font-family: Plumb;
}
.preview-content-title-p{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.preview-content-title-a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #FFFFFF;
}
.preview-content-title-h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.preview-content-blocks {
    width: 540px;
    margin-left: 152px;
    margin-top: 304px;
    display: flex;
}
.icon-block {
    width: 16px;
    height: 6px;
    margin-left: 5px;
    fill: #fff; 
}
.preview-content-block {
    width: 255px;
    height: 148px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 40px;
}
.preview-content-blocks-group2 {
    margin-left: 30px;
}
.block1 {
    background: #2378FC;
}
.block2 {
    background: #FFC41E;
    margin-top: 30px;
    height: 175px;
}
.block3{
    background: #30BCC9;
}
.block4 {
    background: #F6404F;
    margin-top: 30px;
    height: 175px;
}
.preview-content-block-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
}

/* side-menu */

.side-menu-list-wrapper {
    background: #2378FC;
    height: 426px;
}
.side-menu-list {
    display: flex;
    justify-content: space-between;
    width: 1114px;
    margin: auto;
   
}
.menu-h {
    margin-top: 75px;
    padding-left: 20px;
}
h1.menu-h {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.menu-ul {
    text-align: start;
    margin-top: 30px;
}
.menu-li {
    list-style: none;
    margin-top: 15px;
}

/* event */

.event-wrapper {
    height: 984px;
    background: #FFC41E
}
.event-wrapper a {
    margin-left: 510px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
}
.event-header {
    display: flex;
    justify-content: start;
    padding-top: 75px;
}
.event-header h1{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #2E373B;
    margin-left: 380px;
}
.event-header a {
    color: #2E373B;;
}
.event-contents_blocks {
    justify-content: start;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap; 
    margin-left: 350px;
    margin-top: 15px;
    
}
.event-contents_block {
    margin-left: 30px;
    margin-top: 40px;
}
.event-time{font-style: normal;
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: #2E373B;
}
.event-h{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #F6404F;
    margin: 10px 0px;
}
.event-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #2E373B
}

/* news */

.news-wrapper
{
    display: flex;
    justify-content: start;
    height: 649px;
    background: #FAF3E3;

}
.news-main 
{
    max-width: 460px;;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 405px;
}
.news-main img 
{
    padding-top: 59px; ;
}
.news-side 
{
    margin-left: 125px;
}
.news-side-header {
    display: flex;
    margin-top: 68px;
}

.news-side-header h1{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #2E373B;
}

.news-side-header a 
{
    margin-left: 272px;
    font-size: 21px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #2E373B;
}
.news-side-content {
    display: flex;
    margin-top: 30px;
}
.news-side-content-desc 
{
    margin-left: 30px;
}
.news-side-content-desc h1{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #F6404F;
}
.news-side-content-desc p{
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #2E373B;
}

/* footer */

.footer{
    height: 300px;
    background-color: #30BCC9;

}
.footer-content
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1100px;
}

.footer-content
{
    padding-top: 60px;
}
.footer-content-descr h1 
{
    padding-left: 20px;
    font-size: 21px;
    color: #fff;
}
.footer-content-descr ul 
{
    margin-top: 10px;
}
.footer-content-descr li
{
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
}

